a:hover {
  text-decoration: none; }

.j-body {
  border-top: 2px solid red; }

.j-profile {
  border-bottom: 1px solid #eee;
  padding: 20px 0;
  text-align: center; }
  .j-profile img {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px; }
  .j-profile ul {
    margin-top: 10px; }

.j-content {
  margin: 20px 0; }
  .j-content h1 {
    text-align: center; }

.j-posts li {
  list-style: none;
  padding-bottom: 5px;
  position: relative; }
  .j-posts li small {
    position: absolute;
    right: 0; }

.j-post-meta {
  text-align: center;
  font-style: italic; }

html, body {
  height: 100%; }
